{# note: if primebizness.com/page/docs sub-menu's structure change, these links have to change as well #}

<li><a href="http://www.primebizness.com/documentation/user/10.0/index.html">User</a></li>
<li><a href="http://www.primebizness.com/documentation/10.0/index.html">Developer</a></li>
<li><a href="http://www.primebizness.com/documentation/10.0/api_integration.html">API</a></li>
<li><a href="http://www.primebizness.com/documentation/10.0/setup/install.html">Installation</a></li>
<li><a href="http://www.primebizness.com/page/primebizness-white-paper">White Papers</a></li>
<li><a href="http://www.primebizness.com/page/legal">Legal</a></li>
