<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Modern open source HR solution</h2>
        <h3 class="oe_slogan">Manage the most important asset in your company: <b>People</b></h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hr_employees.png" height="300">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Successfully manage your employees</h2>
        <h3 class="oe_slogan">Centralize all your HR information</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="hr_departments.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Oversee all important information by department at a glance. Restrict some information to HR managers, and make others public for all employees to easily find their colleagues. Get alerts for any new leave request, allocation request, application or upcoming appraisal.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Boost Engagement With Social Tools</h2>
        <h3 class="oe_slogan oe_mb32">Improve communication between employees and motivate them through rewards</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="enterprise_social_network.png">
        </div>
        <div class="oe_span6">
            <h4>
                <b>Enterprise Social Network</b>
            </h4>
            <p class="oe_mt8 text-justify">
            Let employees collaborate across departments, locations and PrimeBizness modules by interacting in real time with live chat, sharing knowledge and best practices, following specific people or documents and joining groups of interests to share expertise and files.
            </p>
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span6">
            <h4>
                <b>Gamification</b>
            </h4>
            <p class="oe_mt8 text-justify">
            Inspire achievement with challenges, goals and rewards. Design your own targets, define clear objectives and provide real time feedback and tangible results. Showcase the top performers to the entire team and publicly recognize a job well done.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="hr_badges.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
