<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Simplify manufacturing processes</h2>
        <h3 class="oe_slogan">Online and easy MRP application</h3>
        <div class="oe_demo oe_picture or_screenshot">
            <img src="mrp_kanban.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Efficiently schedule your manufacturing</h2>
        <h3 class="oe_slogan oe_mb32">Keep track of resource capacities and avoid bottlenecks</h3>
        <div class="oe_span4 text-center">
            <span class="fa fa-exchange fa-2x"/>
            <p class="oe_mt16">
            Get a seamless and effective manufacturing process by automatically scheduling orders based on procurement rules, quantity forecasts &amp; dependent demand.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-cubes fa-2x"/>
            <p class="oe_mt16">
            Define routings and plan the working time and capacity of your resources.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-calendar fa-2x"/>
            <p class="oe_mt16">
            Quickly identify resource requirements and bottlenecks to ensure production meets delivery schedule dates.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Enjoy complete flexibility</h2>
        <h3 class="oe_slogan">A simple and powerful user interface</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Manually edit all operations at any stage in the process. With PrimeBizness, you won&apos;t be frustrated by a rigid system. You can design specific templates for each operation and use the set of tools to find solutions for any issue. This open source software allows you to organize manufacturing orders and work orders in any way you like.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="mrp_mo.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan" style="color:#875A7B;">Work with Lists, Calendars or Gantt charts</h2>
        <h3 class="oe_slogan">Organize manufacturing orders and work orders in any way you like.</h3>
        <p class="lead oe_mt32 oe_mb32 text-center">
        Process upcoming orders from the List view, control in the Calendar view and edit the proposed schedule in the Gantt view.
        </p>
        <div class="oe_span4">
            <h3 class="text-center">
                <b>Lists</b>
            </h3>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mrp_list.png" height="150"/>
            </div>
        </div>
        <div class="oe_span4">
            <h3 class="text-center">
                <b>Calendar</b>
            </h3>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mrp_gantt.png" height="150"/>
            </div>
        </div>
        <div class="oe_span4">
            <h3 class="text-center">
                <b>Gantt Charts</b>
            </h3>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="mrp_calendar.png" height="150"/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B;">Define Flexible Master Data</h2>
            <h3 class="oe_slogan">Products, bill of materials and routings</h3>
            <p class="oe_mt16 oe_mb32 text-justify">
            Have the flexibility to create multi-level bills of materials, optional routing, version changes and phantom bills of materials. You can use BoM for kits or for manufacturing orders.
            </p>
            <img class="oe_picture oe_screenshot" style="margin-left: -1px;" src="mrp_bom.png">
        </div>
        <div class="oe_span6">
            <h2 class="oe_slogan" style="color:#875A7B;">Advanced analytic features</h2>
            <h3 class="oe_slogan">Get accurate data on your process</h3>
            <p class="oe_mt16 oe_mb32">
            Track the changes in stock value according to the level of manufacturing activities as it progresses through the transformation process.
            </p>
            <img class="oe_picture oe_screenshot" style="margin-left: -1px; margin-top: 48px;" src="mrp_analysis.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fully integrated with Operations</h2>
        <h3 class="oe_slogan">Sales, purchases, inventory and accounting integration</h3>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="mrp_integrate.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Fully integrated with sales, purchases and inventory modules and programs to make manufacturing resource planning accurate. The accounting integration allows real time accounting valuation and deeper reporting on costs and revenues on your manufacturing operations.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>