<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Organize Events, Trainings &amp; Webinars</h2>
            <h3 class="oe_slogan">Schedule, Promote, Sell, Organize</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="event.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Get extra features per event; multiple pages, sponsors,
                multiple talks, talk proposal form, agenda, event-related news,
                documents (slides of presentations), event-specific menus.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Organize Your Tracks</h2>
        <h3 class="oe_slogan">From the talk proposal to the publication</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Add a talk proposal form on your events to allow visitors to
                submit talks and speakers. Organize the validation process
                of every talk, and schedule easily.
            </p><p>
                PrimeBizness's unique frontend and backend integration makes
                organization and publication so easy. Easily design beautiful
                speaker biographies and talks description.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture oe_screenshot" src="tracks.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Agenda and List of Talks</h2>
        <h3 class="oe_slogan">A strong user interface</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="tracks.png">
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
             Get a beautiful agenda for each event published automatically on
             your website.  Allow your visitors to easily search and browse
             talks, filter by tags, locations or speakers.
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Manage Sponsors</h2>
        <h3 class="oe_slogan">Sell sponsorship, promote your sponsors</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Add sponsors to your events and publish sponsors per level (e.g.
            bronze, silver, gold) on the bottom of every page of the event.
          </p><p>
            Sell sponsorship packages online through the PrimeBizness eCommerce for
            a full sales cycle integration.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sponsor.png">
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Communicate Efficiently</h2>
        <h3 class="oe_slogan">Activate a blog for some events</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="blog.png">
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
             You can activate a blog for each event allowing you to communicate
             on specific events. Visitors can subscribe to news to get informed.
           </p>
        </div>
   </div>
</section>


