html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#primebizness-google-map {
    width: 100%;
    height: 100%;
}

.marker {
    font-size: 13px !important;
}

.marker a {
    text-decoration: none;
}

.marker pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif !important;
}
