<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Maximize your warehouse efficiency</h2>
        <h3 class="oe_slogan">Modern online warehouse management software.</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="stock_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Improve performance and process time</h2>
        <h3 class="oe_slogan">Better organize your warehouse with the smart double entry inventory system</h3>
        <p class='oe_mt32'>
        Get the most efficient stocking method and improve all your internal operations. PrimeBizness's double-entry inventory has no stock input, output or transformation. Instead, all operations are stock moves between locations.
        </p>
        <div class="col-md-8 col-md-offset-3 oe_mt16">
            <img class="oe_picture" src="stock_dashboard.png" height="300">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Reduce your stock level and avoid stockouts</h2>
        <h3 class="oe_slogan">Take advantage of automatic replenishment methods</h3>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="warehouse_illu_01.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Reduce your stock while always staying replenished! PrimeBizness Inventory is fully integrated with the Purchase module, so you can trigger automatic RfQs to your suppliers when your stocks levels are too low.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Enjoy advanced and automated functions</h2>
        <h3 class="oe_slogan">The most advanced systems in a very simple user interface
        </h3>
        <p class="oe_mt32 oe_mb64 lead text-center">
        Handle complex routing such as drop-shipping, cross-docking, and multi-warehouse in just a few clicks. PrimeBizness routinely integrates them into the system.
        </p>
        <div class="oe_span4">
            <div class="text-center">
                <span class="fa fa-truck fa-2x"/>
                <span class="fa fa-long-arrow-right fa-2x"/>
                <span class="fa fa-users fa-2x"/>
                <h4 class="oe_mt16 oe_mb16">
                    <b>Drop-shipping</b>
                </h4>
            </div>
            <p class="text-justify">
            In just a few clicks, you can set up drop-shipping rules for each product to automatically have them shipped to customers.
            </p>
        </div>
        <div class="oe_span4">
            <div class="text-center">
                <span class="fa fa-home fa-2x"/>
                <span class="fa fa-long-arrow-left fa-2x"/>
                <span class="fa fa-cubes fa-2x"/>
                <h4 class="oe_mt16 oe_mb16">
                    <b>Cross-docking</b>
                </h4>
            </div>
            <p class="text-justify">
            Order items by weight, size and quantity, and allocate a specific location to easily have each new shipment sent out to other locations.
            </p>
        </div>
       <div class="oe_span4">
            <div class="text-center">
                <span class="fa fa-home fa-2x"/>
                <span class="fa fa-arrows-h fa-2x"/>
                <span class="fa fa-home fa-2x"/>
                <h4 class="oe_mt16 oe_mb16">
                    <b>Multi-warehouse</b>
                </h4>
            </div>
            <p class="text-justify">
            Create rules to automatically transfer items from one warehouse to another and keep stock levels optimum.
            </p>
        </div>
    </div>
    <div class="oe_mt32 oe_mb64">
        <img class="oe_picture oe_screenshot" src="reordering_rules.png">
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Experience full traceability</h2>
        <h3 class="oe_slogan">Keep track of every stock move</h3>
        <div class="oe_bg_img oe_centered">
            <img class="oe_picture" src="warehouse_illu_02.png">
        </div>
        <p class='oe_mt32'>
        Keep an eye on all your stock by tracing all your past and future inventory transactions. Track in detail all stock moves, in your warehouse and everywhere else your stock goes. Browse through the upstream or downstream traceability flows to get a clear view of what happened to a specific product or shipment.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Get clear &amp; complete reporting and dashboard</h2>
        <h3 class="oe_slogan">Keep an eye on the efficiency of your warehouse</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Get the insights you need to make smarter decisions, using reporting and dashboards. Design custom dashboards to analyze your warehouse efficiency at a glance. Dig deeper with real-time reports that anyone can create and share.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="stock_moves.png">
        </div>
   </div>
</section>

<section class="oe_container oe_separator">
</section>
