@primebizness-font-size-base: 13px;

// Colors
@primebizness-brand-primary: #7c7bad;
@primebizness-brand-optional: #7c7bad;
@primebizness-brand-secondary: #f0eeee;
@primebizness-brand-lightsecondary: #e2e2e0;

@primebizness-color-pink: #875A7B;
@primebizness-main-color-muted: #a8a8a8;
@primebizness-main-text-color: #4c4c4c;

@primebizness-view-background-color: white;
@primebizness-shadow-color: #303030;

@primebizness-webclient-background-color: @primebizness-brand-secondary;
@primebizness-control-panel-background-color: @primebizness-webclient-background-color;
@primebizness-form-lightsecondary: #ccc;
@primebizness-list-grey: @primebizness-brand-lightsecondary;

@primebizness-list-footer-color: @primebizness-main-text-color;
@primebizness-list-footer-bg-color: #eee;
@primebizness-list-footer-font-weight: bold;

@primebizness-tooltip-background-color: black;
@primebizness-tooltip-color: white;
@primebizness-tooltip-arrow-color: black;

// Layout
@screen-xs-min: 475px;
@screen-xxs-max: (@screen-xs-min - 1);

@primebizness-form-group-cols: 12;
@primebizness-form-spacing-unit: 5px;
@primebizness-horizontal-padding: 16px;
@primebizness-innergroup-rpadding: 45px;
@primebizness-dropdown-hpadding: 25px;

@border-radius-base: 3px;

@primebizness-sheet-vpadding: 24px;

@primebizness-avatar-size: 90px;

@primebizness-statusbar-height: 36px;
@primebizness-statusbar-arrow-width: @primebizness-statusbar-height/3;

@primebizness-label-font-size-factor: 0.8;
@primebizness-navbar-height: 34px;
@primebizness-navbar-inverse-link-hover-bg: darken(@primebizness-brand-primary, 10%);
