
.o_web_client .o_lunch {
    .o_lunch_last_orders {
        width: 100%;

        .o_lunch_vignette {
            .clearfix();
            padding: 5px 0;

            + .o_lunch_vignette {
                border-top: 1px solid @primebizness-brand-lightsecondary;
            }
        }
    }
}
