<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Track time, Forecast productivity</h2>
        <h3 class="oe_slogan">Get things done as fast as you can think.</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="hr_timesheet.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">It supports your own work flow</h2>
        <h3 class="oe_slogan oe_mb32">Getting Things Done. Timer. Weekly Timesheet.</h3>
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="hr_timesheet_sheet_sc_01a.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Get things done</b>
            </h4>
            <p class="text-justify">
            For professionals who like to plan their activities at the beginning of the day - Use the Day Planner system and allocate time for each activities you will work on today.
            </p>
        </div>
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="hr_timesheet_sheet_sc_01b.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Every minute matters</b>
            </h4>
            <p class="text-justify">
            For professionals who invoice their customers based on time spent - Launch the timer in one click without leaving your desktop with our new Chrome extension. Just choose your task and switch it on.</p>
        </div>
        <div class="oe_span4">
            <img class="oe_picture oe_screenshot" src="hr_timesheet_sheet_sc_01c.png">
            <h4 class="oe_mt32 oe_mb8 text-center">
                <b>Do it later</b>
            </h4>
            <p class="text-justify">
            For professionals who bill their activities per hour or per day and don&apos;t need to register every task. Just focus on your work and record your activities at the end of your day.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Enjoy Timesheet anywhere. Even offline.</h2>
        <h3 class="oe_slogan">The mobile app that adapts to your work</h3>
        <p class="oe_mt32">
        Whether you &apos;re a small business, a freelance or a professional managing employees from different locations, you need your apps to be as mobile as you are. Log in and track your time through any device.
        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <h4 class="text-center">
                <b>It&apos;s fast.</b>
            </h4>
            <p class="oe_mt16 text-justify">
            When you need to log dozens of activities per day, every second matters. This is why PrimeBizness Timesheet is as fast as you can click. You&apos;re always one click away from your app. Just log in once and the application will be configured forever.
            </p>
        </div>
        <div class="oe_span4">
            <h4 class="text-center">
                <b>It works offline.</b>
            </h4>
            <p class="oe_mt16 text-justify">
            PrimeBizness Timesheet stays up and running even if there is no internet connection. Just launch your timesheet as usual and the data will sync to PrimeBizness&apos;s server as soon as the internet comes back.
            </p>
        </div>
        <div class="oe_span4">
            <h4 class="text-center">
                <b>It&apos;s secure.</b>
            </h4>
            <p class="oe_mt16 text-justify">
            Your time entries are recorded in real time and directly saved in the browser memory. The hours tracked offline are synced to your account once you&apos;re back online. It&apos;s that simple.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
