<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Your Contact Form</h2>
            <h3 class="oe_slogan">Integrate contact forms with your leads</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="contact.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                This simple application integrates a contact form in your
                "Contact us" page. Forms submissions create leads automatically
                in PrimeBizness CRM.
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openerp.com/start?app=website" class="oe_button oe_big oe_tacky">Start your <span class="oe_emph">free</span> website</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Easy Contact Page</h2>
        <h3 class="oe_slogan">A contact form is better than an email</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Get your leads filled up automatically with your contact form
                integration. This application allows a better qualification of
                the lead which is perfect to link them to marketing campaigns.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture oe_screenshot" src="email.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Integrated With Others Apps</h2>
        <h3 class="oe_slogan">Get hundreds of open source apps for free</h3>
        <div class="oe_span4">
            <a href="/apps/website_sale">
                <h3>eCommerce</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_sale.png">
                </div>
            </a>
            <p>
                Promote products, sell online, optimize visitors' shopping experiences.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_blog">
                <h3>Blogs</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_event.png">
                </div>
            </a>
            <p>
                Write news, attract new visitors, build customer loyalty.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website">
                <h3>CMS</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="website_cms.png">
                </div>
            </a>
            <p>
                Easily create awesome websites with no technical knowledge required.
            </p>
        </div>
        <div class="oe_span12 oe_centered oe_muted">
            <a href="/apps">
                and hundreds more applications...
            </a>
        </div>
    </div>
</section>

