<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Hiring Processes Made Easy</h2>
        <h3 class="oe_slogan">From the sourcing to the contract, handle your recruitment process easily</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="job_positions.png" height="350">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Manage your hiring process</h2>
        <h3 class="oe_slogan">Organize your vacancies job applications</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="hr_recruitment_sc_01.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Set up your job board, promote your job listings and easily keep track of submitted applications. Follow every applicant and build a database of skills and profiles with indexed documents. No need to outsource your recruitment - handle everything internally in a simple and professional way.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Track job offers straight from the app</h2>
        <h3 class="oe_slogan oe_mb32">See which channel drives most applications and gather all of them in PrimeBizness.</h3>
        <div class="oe_span6 text-center">
            <span class="fa fa-file-text fa-2x"/>
            <span class="fa fa-long-arrow-right fa-2x"/>
            <span class="fa fa-envelope fa-2x"/>
            <span class="fa fa-long-arrow-right fa-2x"/>
            <span class="fa fa-users fa-2x"/>
            <p class="oe_mt16">
            A new email address is automatically assigned to every job offer in order to route applications directly to the right one.
            </p>
        </div>
        <div class="oe_span6 text-center">
            <span class="fa fa-file-text fa-2x"/>
            <span class="fa fa-long-arrow-right fa-2x"/>
            <span class="fa fa-database fa-2x"/>
            <span class="fa fa-long-arrow-right fa-2x"/>
            <span class="fa fa-envelope fa-2x"/>
            <p class="oe_mt16">
            Whether applicants contact you by email or using an online form, get all the data automatically indexed (resumes, motivation letter, etc.) and answered in just a click, using templates or personalized emails.
            </p>
        </div>
        <div class="col-md-8 col-md-offset-2 oe_mt32">
            <img class="oe_picture oe_screenshot" src="job_sources.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Customize your recruitment process</h2>
        <h3 class="oe_slogan">Define your own stages and interviewers</h3>
        <div class="oe_span6">
          <img class="oe_picture oe_screenshot" src="job_applications.png">
        </div>
        <div class="oe_span6 oe_mt32 text-justify">
            <h4>
                <b>Create your own hiring strategies.</b>
            </h4>
            <p class="oe_mt16">
            Use the kanban view and customize the steps of your recruitment process: pre-qualification, first interview, second interview, negotiation, etc. Get accurate statistics on your recruitment pipeline.
            </p>
            <p class="oe_mt8">
            Use reports to compare the performance of postings you have made on different external job boards and easily change your strategy and recruitment plan based on the results.
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Simplify application management</h2>
        <h3 class="oe_slogan">Index resumes, track applicants, search profiles</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Follow applicants in your recruitment process with the smart kanban view. Save time by using templates to automate some communication. Documents like CVs and motivation letters are indexed automatically, allowing you to easily search for specific skills and build up a database of profiles.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="hr_recruitment_sc_04.png">
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Integrated Surveys</h2>
        <h3 class="oe_slogan oe_mb32">Define your own online/offline surveys</h3>
        <div class="oe_span4 text-center">
            <span class="fa fa-file-text fa-2x"/>
            <p class="oe_mt16">
            Create your own interview canvas based on your best practices.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-pencil fa-2x"/>
            <p class="oe_mt16">
            Use the survey designer to adapt questions to your own process.
            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-hand-o-up fa-2x"/>
            <p class="oe_mt16">
            Ask the applicants to fill in the survey online or ask the interviewer to use it during real interviews.
            </p>
        </div>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture" src="hr_recruitment_sc_05.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
