<p class="logo"><a href="https://doc.primebizness.com/">
  <img class="logo" src="{{ pathto('_static/openerp.png', 1) }}" alt="Logo"/>
</a></p>

<h3>Other Docs</h3>
<ul>
  <li><a href="https://doc.primebizness.com/trunk">PrimeBizness Developers Documentation</a></li>
  <li><a href="https://doc.primebizness.com/trunk/server">PrimeBizness Server Developers Documentation</a></li>
  <li><a href="https://doc.primebizness.com/book">PrimeBizness Users Documentation</a></li>
</ul>

<h3>Useful Links</h3>
<ul>
  <li><a href="https://www.primebizness.com/">The PrimeBizness website</a></li>
  <li><a href="http://python.org/">The Python programming language</a></li>
</ul>
