<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Connect with your community</h2>
        <h3 class="oe_slogan">Open source Stackoverflow &amp; Quora alternative</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="forum_sc_00.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan oe_mb32" style="color:#875A7B;">What can you do with PrimeBizness Forum?</h2>
        <div class="oe_span4">
            <h2>
                <b>Drive more traffic to your website</b>
            </h2>
            <p class="lead">Discussions are indexed and findable through search engines.</p>
            <p class="oe_mt16 text-justify">
            Rank for more keywords and improve your SEO with fresh content created by your community everyday. Search engines like Google are always rewarding websites that provide unique and regular content.
            </p>
        </div>
        <div class="oe_span4">
            <h2>
                <b>Anticipate your customers&apos; needs</b>
            </h2>
            <p class="lead">Spot and take advantage of the hot topics.</p>
            <p class="oe_mt16 text-justify">
            Keep track of your customers&apos; needs and wishes by analysing the hottest, most viewed and most shared topics. The forum is integrated with Google Analytics to help you keep track of likes and shares - even outside of your website.
            </p>
        </div>
        <div class="oe_span4">
            <h2>
                <b>Build your own documentation library</b>
            </h2>
            <p class="lead">Reuse remarkable answers from your community</p>
            <p class="oe_mt16">
            Turn the best answers into official documentation in just one click with the &apos;Promote to documentation&apos; tool.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Give your visitors the information they need</h2>
        <h3 class="oe_slogan">Encourage collaboration and generate insightful discussions</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Position your website as a reliable source of information and solve your visitors&apos; problems by providing them the information they need. Make sure everyone benefits from the discussions and answers generated and becomes an expert in your specific field. Let them share rich media in a breeze.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="forum_sc_02.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Provide outstanding customer satisfaction</h2>
        <h3 class="oe_slogan">Improve your product support and reduce your workload</h3>
        <p class="oe_mt32 text-center">
        Better than a helpline or a FAQ section, a forum will allow your customers to ask questions and find answers quickly, without wasting time on the phone, saving you money! It&apos;s the most powerful database you can find. Your employees and your whole community will take part!
        </p>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture" src="forum_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Keep community engaged and content relevant</h2>
        <h3 class="oe_slogan">Use motivational triggers to reward your contributors</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="forum_sc_04.png"/>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Grant badges to your members for their questions, answers, shares, likes and votes to reward the most active ones. Set up a moderation system with Karma points to give your most active members access to more functionalities and to reduce spamming messages.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
