<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Share your stories</h2>
        <h3 class="oe_slogan">Beautiful open source blogging platform</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="website_blog_sc_00.png" height="350">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Develop your content marketing strategy</h2>
        <h3 class="oe_slogan">Focus on content production, forget the tedious back-end</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="blog_create.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Simply sit down and be start writing. PrimeBizness Blog will allow you to get started in no time. Our easy-to-use drag &amp; drop feature will give you a blog with attractive design that&apos;s mobile-friendly and looks great out-of-the-box.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Engage and retain your audience on all platforms</h2>
        <h3 class="oe_slogan oe_mb32">Your blog posts are meant to be shared easily</h3>
        <div class="oe_span4 text-center">
            <span class="fa fa-plus-square fa-2x oe_mb8"></span>
            <p>Comment at the end of a blog post or annotate paragraphs inside it.</p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-facebook-square fa-2x"></span>
            <span class="fa fa-linkedin-square fa-2x"></span>
            <span class="fa fa-google-plus-square fa-2x"></span>
            <p class="oe_mt8">Easily share on social media (Facebook, Twitter, LinkedIn, Google+, etc) and optimize your content strategy.</p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-twitter-square fa-2x oe_mb8"></span>
            <p>Highlight any sentence and automatically generate a tweet in just a click.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Make your blog readable on any device</h2>
        <h3 class="oe_slogan">A responsive platform to stay close to your audience.</h3>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Read your favorites blog posts anytime, anywhere. Your blog is embedded on PrimeBizness Website and thus works perfectly on mobile, tablet and desktop.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="website_blog_sc_03.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Grow your subscribers with smart call-to-actions</h2>
        <h3 class="oe_slogan">Get recurrent visitors and boost your blog traffic</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_popup.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Easily collect your readers' email addresses with the smart Newsletter registration popup, which appears when they are about to leave the page.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
