/***************************
* Cusom Fonts
* 1. Droid Arabic Kufi, by Google
* 2. Droid Arabic Naskh, also by Google
* 3. Beutiful Amiri, Opensource.
****************************/
.set-grey{
  background: #aaa !important;
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.eot);
  src: url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/DroidNaskh-Bold.ttf) format('truetype');
}

/* 
 * Amiri (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Slanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Slanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Regular.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-BoldSlanted.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.eot);
  src: url(/web_rtl/static/src/fonts/Amiri-Bold.woff2) format('woff2'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.woff) format('woff'),
       url(/web_rtl/static/src/fonts/Amiri-Bold.ttf) format('truetype');
}

.rtl{direction:rtl}
*:not(.fa){font-family: 'Droid Arabic Naskh', serif;}

/*
* reset switch manager fonts
*/
.rtl .oe_e, .rtl .oe_e a  {
font-family: "entypoRegular" !important;
}


.rtl .oe_kanban_action_button{
  line-height: 5px;
}
.rtl .oe_kanban_action_button.btn{
  line-height: 20px;
}
.rtl  .oe_left {float: right;margin:0px 0px 0px 8px}
.rtl  th, .rtl  td {text-align: right;}
.rtl  .oe_leftbar {
border-left: 1px solid #AFAFB6;
border-right: 0px solid #AFAFB6;
}
.rtl  .oe_dropdown_menu{
right:0px;
}
.rtl  .oe_dropdown_menu > li > a {
width:115px;
}
/*--------------------------Form View------------------------------------*/
.rtl  .oe_form td.oe_form_group_cell_label {
border-right: 0px solid #dddddd;
border-left: 1px solid #dddddd;
padding: 0px 2px;
}
.rtl  .oe_form td.oe_form_group_cell + .oe_form_group_cell {
    padding: 0 5px 0 0;
}
.rtl  .oe_form .oe_input_icon {
    margin-right: 3px;
}
/*---------------select-----------------*/
.rtl  .oe_form_field_many2one .oe_m2o_cm_button {
    float: left;
}
.rtl  .oe_form input[type="text"], .rtl  .oe_form input[type="password"], .rtl  .oe_form input[type="file"], .rtl  .oe_form select, .rtl  .oe_form textarea{
    font-family: 'Droid Arabic Naskh', serif;

}
.rtl  .oe_form input[type="text"], .rtl  .oe_form input[type="password"], .rtl  .oe_form input[type="file"], .rtl  .oe_form select{
  height: 33px;

}
.rtl  .oe_tags{
  height: 30px !important;
}
.rtl  .oe_tags textarea{
  min-height: 30px !important;
}
.rtl  .text-tags .text-remove{
  top: 5px !important;
}
.rtl .text-core .text-wrap .text-arrow{
  top: 3px !important;
}

/*--------------------------left menu------------------------------------*/
.oe_secondary_menus_container ul{
    padding-left: 0px; 
    padding-right: 15px; 
}
 .oe_secondary_submenu .oe_menu_toggler:before{
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #4c4c4c;
    border-left: 0px;
}
 .oe_secondary_submenu .oe_menu_opened:before{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4c4c4c;
}
 .oe_secondary_menu_section{
    margin-left: 0px;
    margin-right: 8px;
}
.rtl  .oe_secondary_submenu .oe_secondary_submenu li {
    margin-right: 20px;
    margin-left: 0px;
}
.rtl  .oe_secondary_submenu .oe_menu_toggler:before {
    margin-left: 0px;
    margin-right: 0px;
}
.rtl  .oe_secondary_submenu .oe_menu_opened:before {
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------------Top menu------------------------------------*/
.rtl  .oe_user_menu li {
    float: right;
}
.rtl  .oe_dropdown_menu {
    text-align: right;
}

/*--------------------------Dialog------------------------------------*/
.rtl .ui-dialog .ui-dialog-title {
    float: right;
    padding: 3px 10px;
}
/*--------------------------------tabs--------------------------------*/
.rtl  .oe_notebook > li {
    float: right;
}

/*--------------------------------Paging--------------------------------*/
.rtl  .oe_pager_group li {
    float: right;
}
/*-------------------------------Search------------------------*/
.rtl  .oe_searchview {
    float: left;
}
.rtl  .oe_searchview .oe_searchview_facets {
    margin-right: 30px;
    margin-left: 0px;
}

/*------------------------Kanban View--------------------*/
.o_kanban_view .o_kanban_record .o_kanban_button > button, .o_kanban_view .o_kanban_record .o_kanban_button > a{
  right: auto;
  left: 8px;
}
.rtl  .oe_kanban_view .oe_kanban_group_title_vertical{
direction:ltr
}
.rtl  .oe_kanban_view .oe_fold_column .oe_kanban_group_length {
position: static;
float: left;
}
.rtl  .oe_kanban_view .oe_dropdown_kanban .oe_dropdown_menu {
    left: 0;
    right:auto;
}
.rtl  .oe_kanban_view .oe_dropdown_kanban{
  float: left;
}
/*--------------------application header-------------------*/
.rtl  .oe_view_manager table.oe_view_manager_header h2 {
    float: right;
}
/*----------------------------Messageing--------------------------*/
.rtl  .oe_mail .oe_attachment img {
left:auto
}
/*----------------------------followers--------------------------*/
.rtl  .oe_followers .oe_remove_follower {
right:auto;
left:0px;
}
.rtl  .oe_followers .oe_invite {
    float: left;
}
.rtl .oe_view_manager_view_gantt{
direction:ltr;
}
/*----------------------------Stages--------------------------*/
.rtl  .oe_form header ul {
    float: left;
}
.rtl  ul.oe_form_status li:last-child, .rtl  ul.oe_form_status_clickable li:last-child 
.rtl  ul.oe_form_status li:first-child .label, .rtl  ul.oe_form_status_clickable li:first-child .label
{
    border: 0px solid #CACACA;
}
.rtl  ul.oe_form_status li .label, .rtl  ul.oe_form_status_clickable li .label {
     padding: 7px 34px 7px 7px;
}
 ul.oe_form_status li:first-child > .label,  ul.oe_form_status_clickable li:first-child > .label {
  padding-right: 14px;
}

/**
view switch manager
*/
.oe_view_manager_switch{
    float: left !important;
    margin-left: 0px !important;
    margin-right: 8px !important;
}
.navbar-left{
    float: right !important;
}
.navbar-right{
    float: left !important;
}
.oe_systray{
    float: left !important;
}

 .oe_form > :not(.oe_form_nosheet) header ul:not(.oe_tooltip_technical):not(.oe_dropdown_menu){
    float: left;
}
 ul.oe_form_status li:first-child > .label,  ul.oe_form_status_clickable li:first-child > .label{
    border-right: 1px solid #cacaca;
    border-left: 0px;
}
 ul.oe_form_status li > .arrow span,  ul.oe_form_status_clickable li > .arrow span{
    box-shadow: 1px -1px 2px rgba(255, 255, 255, 0.2), inset 1px -1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px -1px 2px rgba(255, 255, 255, 0.2), inset 1px -1px 1px rgba(0, 0, 0, 0.2);

}
.navbar-nav>li{
    float: right !important;
}
 .oe_right{
    float: left;
    margin-left: 0px;
    margin-right: 8px;
}
 .oe_pager_value,  .oe_pager_group{
    float: right;
}
 .oe_pager_value{
    margin-left: 8px;
    margin-right: 0px;
}
 .oe_pager_group li{
    border-right: 0px;
    border-left: 1px solid #ababab;
}
 .oe_title.oe_left h1,  .oe_title.oe_left .oe_tags{
    float: right;
}
 .oe_title.oe_left{
    width: 38% !important;
    overflow: hidden;
    margin: 0px
}
.oe_form_sheet .oe_right.oe_button_box{
    margin: 0;
    margin-top: 0px;
    text-align: left;
}
 ul.oe_form_status li,  ul.oe_form_status_clickable li{
  margin-right: -39px;
  margin-left: 33px;
  padding-left: -12px;
}
 ul.oe_form_status li:last-child,  ul.oe_form_status_clickable li:last-child{
  margin-left: 0px;
}
 ul.oe_form_status li > .arrow,  ul.oe_form_status_clickable li > .arrow{
  width: 41px;
  height: 41px;
  margin-left: -38px;
  padding-bottom: 13px;
}
 ul.oe_form_status li > .arrow span,  ul.oe_form_status_clickable li > .arrow span {
  position: relative;
  width: 33px;
  height: 33px;
  display: inline-block;
  margin-left: 0px !important;
  margin-right: -14px;
  margin-top: 6px;
  box-shadow: 1px -1px 2px rgba(255, 255, 255, 0.2), inset 1px -1px 1px rgba(0, 0, 0, 0.2);
  background-color: #dedede;
  background: -moz-linear-gradient(135deg, #dedede, #fcfcfc);
  background: -o-linear-gradient(135deg, #fcfcfc, #dedede);
  background: -webkit-gradient(linear, left top, right bottom, from(#fcfcfc), to(#dedede));
  background: -ms-linear-gradient(top, #fcfcfc, #dedede);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rtl .pull-right{
  float: left !important;
}
.rtl  .oe_mail .oe_msg .oe_msg_icons{
  float: left;
}
.rtl  .oe_mail .oe_msg .oe_msg_left{
  left: auto !important;
  right: 0;
}
.rtl  .oe_mail .oe_msg .oe_msg_center{
  margin-right: 40px;
  margin-left: 0px;
}
.rtl  .oe_searchview .oe_searchview_clear{
  right: auto !important;
  left: 12px;
  height: 11px;
  top: 6px;
}
.rtl  .oe_searchview .oe_searchview_unfold_drawer{
  right: auto !important;
  left: 0;
  padding-right: 0px;
  padding-left: 18px;
}
.rtl  .oe_searchview .oe_searchview_search{
  left: auto !important;
  right: 0;
  top: 2;
  padding-left: 0;
  padding-right: 3px;
}

.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_input{
  padding: 2px 15px 0 0px; 
}

 .oe_searchview .oe_searchview_facets .oe_searchview_input:first-child{
  margin-left: auto;
  margin-right: 0px;
  padding-right: 0px;
}



.rtl  .oe_searchview .oe_searchview_facets{
  margin-left: 30px;
  margin-right: 20px;
}
.rtl  .oe_searchview_drawer{
  text-align: right;
}
.rtl .dl-horizontal dt{
  float: right;
}
.rtl  .oe_searchview_drawer h4:before{
  content: " ◂";
}
.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_facet{
  margin-right: -10px;
}
.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_remove{
  right: auto !important;
  left: 3px;
}
.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_value:last-child{
  padding-right: 4px !important;

}
.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_values{
  border-radius: 3px 0 0 3px;
  padding-right: 0px;
  padding-left: 15px;
}
.rtl  .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_value{
  border-left: 0px;
}
.rtl  .oe_form_field_many2one span.oe_m2o_drop_down_button{
  right: auto !important;
  left: 0px;
  top: 9px;
}

.rtl .oe_subtotal_footer.oe_right .oe_form_group_cell .oe_form_field_float.oe_form_field_monetary{
  text-align: left;
}
.rtl .oe_view_manager_view_graph .btn-group .dropdown-menu a.oe_selected{
  text-align: right;
}
.rtl .dropdown-menu > li > a{
  padding-right: 3px;
  padding-left: 20px
}
.rtl .oe_form_configuration .oe_form_group td:last-child .oe_link:before, .oe_form_configuration .oe_form_group td:last-child .oe_separate-from-text:before{
  padding-left: 1em;
  padding-right: 0;
  left: 0px;
}
.rtl .oe_form_configuration .oe_form_group td:last-child .oe_link, .oe_form_configuration .oe_form_group td:last-child .oe_separate-from-text {
  left: 0px !important;
  right: 2em !important;
}
.rtl  .nav-pills li > a{
  padding-right: 18px;
  padding-left: 4px;
}
.rtl .oe_user_menu_placeholder{
  margin-right: 10px;
}
.rtl .graph_chart_mode{
  text-align: left;
  direction: ltr;
}
.rtl .text-core .text-wrap .text-tags{
  padding-right: 3px;
  padding-left: 35px;
}
.rtl .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove{
  right: auto;
  left: 3px;
}
.rtl .text-core .text-wrap .text-tags .text-tag .text-button{
  float: right;
  padding: 0 3px 0 17px;
}
.rtl .text-core .text-wrap .text-arrow{
  right: auto;
  left: 0px;
}
.rtl .text-core .text-wrap .text-tags .text-tag{
  float: right;
}
.rtl .oe_form_field_status .oe_dropdown_menu{
  right: auto;
  left: 0;
}
.rtl .oe_msg_center .oe_msg_content button.oe_full{
  float: left;
}
/*calendar style*/
.rtl .fc{
  direction: rtl;
  text-align: right;
}
.rtl .fc-state-default.fc-corner-left{
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rtl .fc-state-default.fc-corner-right{
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/*chat style*/
.rtl .oe_im_chatview{
  right: auto !important;
  left: 0px;
} 
.rtl .oe_im_chatview .oe_im_chatview_message_bubble .oe_im_chatview_clip{
  float: right;
  margin-left: 4px;
  margin-right: 0px;
} 
.rtl .oe_im_chatview .oe_im_chatview_message_bubble .oe_im_chatview_time{
  right: auto;
  left: 0px;
  text-align: left;
}
.rtl .oe_im .oe_im_user .oe_im_user_online{
  right: auto!important;
  left: 11px;
}
.rtl button.close{
  line-height: 18px;
}
.oe_radio_input{
  margin-left: 4px !important;
}
.rtl .alert-dismissable .close, .alert-dismissible .close{
  right: 0px;
}
.rtl  .oe_sidebar .oe_dropdown_menu li .oe_sidebar_delete_item{
  right: auto;
  left: 4px;
}


/* ---- modules ----- */
.rtl .oe_module_vignette .oe_module_icon{
  float: right;
}

.rtl .oe_module_icon + .oe_module_desc{
  padding-left: 0px;
  padding-right: 85px;
}
.rtl .oe_module_desc > button{
  right: auto;
  left: 8px;
}
.rtl .o_kanban_manage_button_section .o_kanban_manage_toggle_button{
  text-align: left;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header .o_kanban_manage_button_section .o_kanban_manage_toggle_button, .o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header .o_kanban_manage_button_section .o_kanban_manage_toggle_button{
  text-align: left;
}
.text-right{
  text-align: left;
}
 .oe-control-panel .oe-right-toolbar{
  float: left;
}
.fa-chevron-right:before {
    content: "\f053";
}
.fa-chevron-left:before {
    content: "\f054";
}
.fa-caret-down:before {
    content: "\f0d7";
}
.o_kanban_view .o_kanban_record .o_kanban_image{
  float: right;
}
.o_kanban_view .o_kanban_record .o_kanban_image+div{
  padding-left: 0px;
  padding-right: 72px;
}
.o_kanban_view .o_kanban_record .o_kanban_tags{
  margin: 0 -8px 8px 0px;
}
 .oe_form > :not(.oe_form_nosheet) header > button,  .oe_form > .oe_form_nosheet header > button {
    margin: 5px 2px;
}
 .oe-control-panel .oe-cp-sidebar {
    display: inline-block;
    float: left;
}
 
 .oe_formview .oe_button_box .oe_stat_button{
  text-align: right;
}
.oe_radio_input + label{
  margin-right: 20px;
}

/*---- chat -----*/
.o_mail_chat .o_mail_chat_sidebar{
  float: right;
}
.o_mail_chat .o_mail_chat_content{
  margin-left: 0px;
}
.o_mail_chat .o_mail_chat_content .o_mail_thread{
  padding-right: 10px;
}

/*---- planner ----*/
.o_planner_dialog .o_planner_title_block{
  padding-left: 0px;
  padding-right: 15px;
}
.o_planner_dialog .o_planner_content_wrapper .o_planner_menu{
  box-shadow: 0px 0px 3px 3px rgba(50,50,50,.3);
}
.o_planner_dialog .o_planner_content_wrapper .o_planner_menu>ul{
  padding-right: 0px;
}
.o_planner_dialog .o_planner_content_wrapper .o_planner_menu>ul>li {
    padding-right: 18px;
    padding-left: 0px !important;
    text-indent: 0px;
}
.o_planner_dialog .o_planner_content_wrapper .o_planner_menu>ul>li>a{
  padding-left: 0px !important;
  padding-right: 18px;
}
#PlannerDialog .o_planner_dialog .o_planner_content_wrapper .o_planner_menu>ul>h4>i{
  margin-left: 10px;
}
#PlannerDialog .o_planner_dialog .o_planner_content_wrapper .o_planner_menu>ul>h4{
  padding-left: 0px;
  margin-left: 0px;
  margin-right: -15;
}
.fa-angle-right:before {
    content: "\f104";
}
.fa-angle-left:before {
    content: "\f105";
}
.fa-arrow-right:before {
    content: "\f060";
}
.fa-arrow-left:before {
    content: "\f061";
}
.oe_tip_close {
    padding: 5px 10px 10px 5px !important;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: auto;
}
.o_calendar_view{
  direction: ltr !important
}
 .oe_avatar {
    float: right;
}
 .oe_formview .oe_avatar+.oe_title {
    padding-right: 10px;
    padding-left: 0px;
}
 .oe_formview .oe_button_box + .oe_title,  .oe_formview .oe_button_box + .oe_avatar + .oe_title{
  width:345px;
}

/*-----popover------*/
.popover {
    /*direction: rtl*/;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.popover-title {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.popover-content {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

 .oe_title {
    float: right;
}
 .oe_avatar + div {
    margin-right: 5px;
    margin-left: 0px;
}

.o_reconciliation .o_reconciliation_line .accounting_view caption {
    text-align: right;
    margin-bottom: 25px;
}
.o_reconciliation .o_reconciliation_line .accounting_view caption button {
    float: left;
    position: relative;
}
.o_reconciliation .o_reconciliation_line .accounting_view caption .partner_name {
    float: right;
}
 .oe_stat_button > div{
  text-align: right;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*--------------------PrimeBizness 10------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.o_form_view .o_form_input_dropdown .o_dropdown_button,
.o_datepicker .o_datepicker_button{
  left: 4px;
  right: auto;
}
.o_web_client > .o_main .o_sub_menu{
  border-right: none;
  border-left: 1px solid #afafb6;
}
body .o_form_view .o_group.o_inner_group.oe_subtotal_footer{
  float: left !important;;
}
.nav-pills>li>a{
  border-radius: 0px;
}
.o_form_view > header ul:not(.oe_tooltip_technical):not(.oe_dropdown_menu){
  float: left;
}
.o_form_view ul.oe_form_status li > .arrow span, .o_form_view ul.oe_form_status_clickable li > .arrow span{
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.2);
  margin-right: -12px;
  margin-left: 0px;
}

.o_form_view ul.oe_form_status li > .label, .o_form_view ul.oe_form_status_clickable li > .label{
  padding-left: 7px;
  padding-right: 42px;
  line-height: 13px;
}

.o_form_view ul.oe_form_status li:last-child, .o_form_view ul.oe_form_status_clickable li:last-child{
  border-left: 1px solid #cacaca;
  border-right: 0px;
}
.o_form_view ul.oe_form_status li, .o_form_view ul.oe_form_status_clickable li{
  margin: 0 0 0 -13px;
}
.o_form_view ul.oe_form_status li:first-child > .label, .o_form_view ul.oe_form_status_clickable li:first-child > .label{
  border-right: 1px solid #cacaca;
  border-left: 0px;
  padding-left: 7px;
  padding-right: 20px;
}
.o_form_view ul.oe_form_status li > .arrow, .o_form_view ul.oe_form_status_clickable li > .arrow{
  margin-left: -16px;
}
.o_form_view ul.oe_form_status li:last-child > .label, .o_form_view ul.oe_form_status_clickable li:last-child > .label{
  margin-left: 10px;
  margin-right: 30px;
}

.o_form_view .oe_button_box{
  float: left;
  text-align: left;
}
.o_form_view .oe_avatar{
  float: right;
}
.o_control_panel .o_cp_right .o_cp_pager{
  margin: auto auto auto 0;
}
.o_searchview .o_searchview_facet .o_facet_remove{
  left: 0px;
  right: auto;
}
.o_searchview .o_searchview_facet .o_facet_values {
    padding: 0 5px 0 18px;
}