<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Community Backend Theme</h2>
        <h3 class="oe_slogan">Polished and neat theme based on Openworx theme. All credits goes to them.</h3>
        <h3 class="oe_slogan">You can customize the Primary color in backend_theme/static/src/bootswatch/variables.less</h3>
        <div class="oe_demo oe_picture  oe_screenshot">
            <img src="img1.png">
        </div>
		<div style="padding-top: 30px;">
		<div class="oe_demo oe_picture  oe_screenshot">
            <img src="img2.png">
        </div>
		<div style="padding-top: 30px;">
		<div class="oe_demo oe_picture  oe_screenshot">
            <img src="img3.png">
        </div>
                <div style="padding-top: 30px;">
                <div class="oe_demo oe_picture  oe_screenshot">
            <img src="img4.png">
        </div>
                <div style="padding-top: 30px;">
                <div class="oe_demo oe_picture  oe_screenshot">
            <img src="img5.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark" style="padding-top: 30px;">
    <div class="oe_row">
        <div class="oe_span12 oe_centeralign">
            <br/>
            <h3>Help & Support</h3>
            <br/>
                Website: <a href="https://PrimeBizness.com" target="_blank">primebiznessabc</a><br/>
                Contact: <a href="mailto:contact@PrimeBizness.com" subject="Community Backend Theme">Email Support</a><br/>
            <br/>
        </div>
    </div>
</section>
