<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Your enterprise website builder</h2>
        <h3 class="oe_slogan">Easy. Mobile. Open Source.</h3>
        <div class="text-center oe_mt32">
          <video width="70%" height="70%" controls>
            <source src="https://www.primebizness.com/openerp_website/static/src/video/wbuilder/Editing.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Forget about c &lt;&gt;de</h2>
        <h3 class="oe_slogan">Just drag &amp; drop business features</h3>
        <div class="oe_span6">
          <p class="oe_mt32">
            Get all your business needs, out-of-the-box.<br/>Add features as you grow: jobs, e-commerce, customer portal, events, company blog, call-to-action, newsletter, etc.
            </p>
        </div>
        <div class="oe_span6">
          <img class="oe_picture oe_screenshot" src="ecommerce.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Your brand. Your website.</h2>
        <div class="oe_span6">
          <img class="oe_picture oe_screenshot" src="website_edit.png">
        </div>
        <div class="oe_span6">
          <p class="oe_mt32 text-justify">
          Get a website that automatically adjusts to fit your brand and style guidelines.<br/>Branding is critical for business success. PrimeBizness provides you tools to easily achieve branding needs.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Turn visitors into customers</h2>
        <h3 class="oe_slogan">With a fully integrated marketing stack</h3>
        <div class="oe_span6">
          <h3 class="oe_slogan" style="margin-top: 8px;">SEO Tools</h3>
          <p class="text-justify">
          Our Search Engine Optimization tool integrates with Google to analyze the relevancy of your content in real time. Get more visitors with a better targeted content.
          </p>
          <p class="text-justify">
          Your website is optimized by default. You don't have to worry about technical 301 redirects, page speeds, google schemas, twitter cards, sitemaps, etc.
        </div>
        <div class="oe_span6">
          <h3 class="oe_slogan" style="margin-top: 8px;">Call to Action</h3>
          <p class="text-justify">
          Easily drag &amp; drop call-to-actions to boost your conversion rates. Choose the best call to action for every page: customize forms, add pop-up on exits, fine tune newsletter subscriptions, etc.
          </p>
          <p class="text-justify">
          Get an efficient lead nurturing with marketing automation and have everything integrated with your CRM.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">A/B Testing</h3>
        <div class="oe_span6 text-justify">
          <p>
          Test variations before publishing any page. Launch A/B testing campaigns in just a click. Use the integration with other modules to measure impact on leads, revenues, conversion rates, etc. Nothing to configure, it all works out-of-the-box.
          </p>
          <p>
          Save time by having your full marketing stack fully integrated. Getting a top level marketing automation is a piece of cake with PrimeBizness.
          </p>
        </div>
        <div class="oe_span6">
          <img class="oe_picture" src="a_b_testing.png" style="margin-top: -32px;">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Track Visitors</h3>
        <div class="oe_span6">
          <img class="oe_picture" src="users.png" style="margin-top: -32px;">
        </div>
        <div class="oe_span6 text-justify">
            <p>
            Track visitors inside and outside your website. Measure the performance of your marketing campaign whether it's by email or through external websites or social media.
            </p>
            <p>
            Track pages in just a click and get notified automatically in your CRM when your leads visits key pages. Launch live chat sessions to contact them in real time when they visit your website.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan" style="margin-top: -32px;">Mass Mailing</h3>
        <div class="oe_span6 text-justify">
            <p>
            From email acquisition to mass mailing, get everything fully integrated. Get statistics on your mails, from the clicks to the revenue with a full integration between sale and accounting.
            </p>
            <p>
            Forget about using third party apps. You don't need to import/export list of contacts, configure trackers between mails, website and orders, etc. It all works out-of-the-box.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="flow.png" style="margin-top: -32px;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Extend your website with hundreds of Apps</h2>
        <div class="oe_span4">
          <h4><b>Sell Online</b></h4>
          <ul class="list-unstyled">
            <li>- eCommerce</li>
            <li>- Event Tickets</li>
          </ul>
          <h4 class="oe_mt32"><b>Full Marketing Stack</b></h4>
          <ul class="list-unstyled">
            <li>- Lead Acquisition</li>
            <li>- Lead Tracking</li>
            <li>- Live Chat</li>
            <li>- Mass Mailing</li>
          </ul>
          <h4 class="oe_mt32"><b>Link Business Features</b></h4>
          <ul class="list-unstyled">
            <li>- Recruitments</li>
            <li>- Helpdesk</li>
          </ul>
        </div>
        <div class="oe_span4">
          <h4><b>Marketplaces Integrations</b></h4>
          <ul class="list-unstyled">
          <li>- Amazon <small>(coming soon)</small></li>
          <li>- eBay</li>
          </ul>
          <h4 class="oe_mt32"><b>Content Management</b></h4>
          <ul class="list-unstyled">
            <li>- Blogs</li>
            <li>- Presentation</li>
            <li>- Forums, Q&amp;A</li>
          </ul>
          <br/>
          <h4 style="margin-top: 23px;">
            <b>Easy inline edition of highly dynamic content.</b>
          </h4>
        </div>
        <div class="oe_span4">
          <img class="oe_picture" src="website_sc_04.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
